.container {
  justify-content: space-around;
  width: 100vw;

  .content {
    padding: 25px;
  }

  form {
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
    gap: var(--layout-gap-size);

    ::ng-deep .mat-mdc-form-field {
      width: 100%
    }

    ::ng-deep .mdc-notched-outline__leading, ::ng-deep .mdc-notched-outline__notch, ::ng-deep .mdc-notched-outline__trailing {
      border: none !important;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      background: white;
      border-radius: 10px !important;
    }

    ::ng-deep .mat-mdc-form-field-hint-wrapper, ::ng-deep .mat-mdc-form-field-error-wrapper {
      padding: 0;
    }

    .input-title {
      margin-bottom: 10px;
      font-weight: bold;
    }

    .required-input {
      padding: 0 5px;
      color: var(--delete-main-color);
    }

    .input-requirements {
      font-size: small;
      color: var(--secondary-font-color);
    }
    
    .hint-container {
      margin-bottom: 10px;
    }

    .action-button-row {
      display: flex;
      justify-content: center;
      gap: var(--layout-gap-size);
    }

    .cancel-button {
      background-color: var(--delete-main-color);
      color: white;
    }
  }
}
