:root {
  --background-light-color: #f5f5f5;
  --background-dark-color: #b8b6b6;
  --success-color: #7be17b;
  --error-color: #e17b9a;
  --layout-width-max: 800px;
  --layout-border-radius: 4px;
  --layout-gap-size: 8px;
  --layout-padding: 10px;
  --font-opacity: 0.8;
  --background-main-color: #e6e6e6;
  --container-main-color: #ffffff;
  --secondary-font-color: #7d7d7d;
  --button-main-color: #007fd4;
  --to-do-main-color: #5166fe;
  --to-do-secondary-color: #5166fe6b;
  --done-main-color: #3dab52;
  --done-secondary-color: #3dab525c;
  --high-priority-main-color: #f78d36;
  --high-priority-secondary-color: #f78d3673;
  --medium-priority-main-color: #2eb1af;
  --medium-priority-secondary-color: #2eb1af69;
  --low-priority-main-color: #833ba5;
  --low-priority-secondary-color: #833ba552;
  --delete-main-color: #ff0000;
}
